HEROKU_URL:                   http://diabot.herokuapp.com
HUBOT_AUTHENTIC_JOBS_API_KEY: redacted
HUBOT_BITLY_ACCESS_TOKEN:     redacted
HUBOT_DARK_SKY_API_KEY:       redacted
HUBOT_DARK_SKY_SEPARATOR:     '  '
HUBOT_IRC_NICK:               diabot
HUBOT_IRC_NICKSERV_PASSWORD:  redacted
HUBOT_IRC_NICKSERV_USERNAME:  diabot
HUBOT_IRC_PORT:               6697
HUBOT_IRC_REALNAME:           diabot
HUBOT_IRC_ROOMS:              #reddit-diabetes,#reddit-diabetes-ops,##diabot
HUBOT_IRC_SERVER:             chat.freenode.net
HUBOT_IRC_UNFLOOD:            true
HUBOT_IRC_USESSL:             true
HUBOT_WOLFRAM_APPID:          redacted
HUBOT_WWO_API_KEY:            redacted
HUBOT_WWO_API_URL:            http://api.worldweatheronline.com/free/v1/tz.ashx
REDISCLOUD_URL:               redis://redacted
